*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background: linear-gradient( #4CAF50, #fafafa);
    color: rgb(0, 0, 0);
}
.containerPicker{
    display: grid;
    justify-content: center;
    align-items: center;
    .pickr{
        display: flex;
        justify-content: center;
        align-items: center;
    #color-picker {
        width: 300px;
        height: 50px;
    }
}
p{
    font-size: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
button{
    margin: auto;
    width: 100px;
    height: 30px;
}
}

.container{
    display: flex;
    gap:10px;
    margin: 10px;
    #c-red{
        width: 50px;
        height: 50px;
        background: red;
        border: black solid 3px;
    }
    #c-yellow{
        width: 50px;
        height: 50px;
        background: yellow;
        border: black solid 3px;
    }
    #c-green{
        width: 50px;
        height: 50px;
        background: green;
        border: black solid 3px;
    }
    #c-blue{
        width: 50px;
        height: 50px;
        background: blue;
        border: black solid 3px;
    }
    #c-purple{
        width: 50px;
        height: 50px;
        background: purple;
        border: black solid 3px;
    }
    #c-orange{
        width: 50px;
        height: 50px;
        background: orange;
        border: black solid 3px;
    }
}
.container div:hover{
    cursor: pointer;
}